body {
  background-color: #292d46;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
}

nav {
  background-color: #901d11;
  margin-bottom: 2em;
}

nav > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

nav li {
  padding: 1em;
  margin-bottom: .75em;
  background-color: #c0392b;
}

nav li:last-of-type {
  margin-bottom: 0;
}

nav li:hover {
  background-color: #f04d3c;
}

nav a {
  color: white;
  text-decoration: none;
}

.movie_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie_list .wrapper {
  position: relative;
  display: block;
  width: 80%;
  margin-bottom: 1.75em;
  background-color: #ecf0f1;
}

.movie_list img {
  max-width: 100%;
  height: auto;
}

.movie_list h1 {
  margin-top: .5em;
  color: #2c3e50;
  font-size: 1.3em;
}

.movie_single .overview {
  padding-right: 3em;
}

.movie_single {
  display: flex;
  justify-content: center;
}

.movie_single .wrapper {
  position: relative;
  display: block;
  width: 85%;
  margin-bottom: 1.75em;
  background-color: #ecf0f1;
}

.movie_single img {
  width: 25%;
  margin-right: 1.25em;
  float: left;
}

.movie_single h1 {
  margin-top: 1em;
}

li.name {
  padding: .5em;
  display: inline;
  padding: .5em;
  border-radius: 0.5em;
  background-color: #2980b9;
  color: white;
  font-size: .85em;
  font-weight: 800;
}

.movie_meta {
  padding: 0 1em;
}

.vote_average {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75em 1.5em;
  background-color: rgba(44, 62, 80, 0.95);
  color: white;
  font-family: 'Lato', serif;
  font-size: 1.35em;
  font-weight: 800;
}

@media (min-width: 61.25em) {
  nav > ul {
    flex-direction: row;
  }
  nav li {
    margin-right: 1em;
    margin-bottom: 0;
  }
  .movie_list .wrapper {
    width: 30%;
  }
}

@media (min-width: 40.625em) and (max-width: 61.25em){
  .movie_list .wrapper {
    width: 45%;
  }
}

.hidden {
  display: none;
}
